<%= form_for(@comment) do |f| %>
  <ul>
    <% @comment.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
  </div>


  <%= f.submit class: "btn btn-primary" %>

<% end %>
