<%= form_for(@story) do |f| %>
  <ul>
    <% @story.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_list, "Tags (separated by commas)" %>
    <%= f.text_field :tag_list, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_area :content, class: "form-control", size: "30x10" %>
  </div>

  <div class="form-group">
    <%= f.label :editors %>
    <%= collection_select(:story, :users_ids, User.all, :id, :full_name, { include_blank: false, :selected => @story.users }, { :multiple => true, :class => "form-control" } ) %>
  </div>  

  <%= f.submit class: "btn btn-primary" %>

<% end %>