<%= link_to "Working mode", edit_story_path(@story), class: "btn btn-primary" %>
<br>
<br>
<h1><%= @story.title %></h1>
<p class="text-muted">
  <%= "Written by #{@story.owner.full_name}, Last edit #{time_ago_in_words(@story.updated_at)} ago" %>
</p>
<p>
  <% @story.tags.each do |tag| %>
    <span class="badge badge-dark"><%= tag.name %></span>
  <% end %>
</p>
<hr>
<%= markdown(@story.content) %>