<!DOCTYPE html>
<html>
  <head>
    <title>Ghost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="wrapper">
      <nav id="sidebar">
        <div class="sidebar-header">
          <%= current_user.show_avatar %>
          <strong><%= current_user.full_name %></strong>
        </div>
        <ul class="list-unstyled components">
            <li>
              <%= link_to "Profile", edit_user_path(current_user), class: "nav-link" %>
            </li>
            <li>
              <% if current_user.admin? %>
                <%= link_to "Team", team_path, class: "nav-link" %>
              <% end %>
            </li>
            <li>
              <%= link_to "Stories", stories_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Site overview", blog_index_path, target: "_blank", class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: "delete", class: "nav-link" %>
            </li>
        </ul>
      </nav>

      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
